@model Coche

<h1>Details del coche: @Model.IdCoche</h1>
<ul class="list-group">
    <li>@Model.Modelo</li>
    <li>@Model.Marca</li>

</ul>
<img src="~/imgs/@Model.Imagen" width="500px" height="200px" />